* { 
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    border: 0px;
    color: #3E362E;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    background-color: #A69080;
}

.landing {
    margin-bottom: 25px;
    background-color:  #93785B;
}

.landing h1{
    text-align: center;
}

.landing #logo {
    width: 100%;
}

.greeting-section {
    background-color: #865D36;
    margin: 10px 25%;
    margin-bottom: 40px;
    text-align: center;
}

.greeting {
    display: inline-block;
    background-color: #93785B ;
    padding: 5px;
    padding-top: 3px;
    padding-right: 3px;
    margin-top:-14px;
    border-left: #614930 solid;
    border-bottom: #614930 solid;
}

#webs-desc {
    padding: 10px;
}

#ingredients {
    margin: auto;
}

#ing-section {
    text-align: center;
}

.pannel{
    display: inline-block;
    padding: 0px;
    border: 10px solid black;
    width: 30%;
    height: auto;
    background-color: white;
}

.inline {
    display: inline;
}

.inline-block {
    display: inline-block;
}

.center {
    text-align: center;
    margin: 0 auto;
}

.center.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
}

ul {
    list-style-type: none;
}

.double{
    margin: 30px;
    margin-bottom: auto;
    margin-top: 0px;
    width: 40%;
    
}

.pannel .recipe-img{
    margin: 10px auto;
    display: block;
    width: 290.188px;
    height: 386.78px;
}

#Steps {
    margin: 20px;
    margin-bottom: 50px;

}

li span {
    position: relative;
    left: 10px;
}

ol {
    width: 50%;
}

.flex-container {
    display: flex;
    flex: 1;
    justify-content: center;

}

.flex-container .Description {
    max-width: 49%;
}

.flex-container .Ingredients {
    max-width: 49%;
}